p {
    font-size: 2.3em;
    color: #565656;
    width: 100%;
    text-align: center;
}

ion-card {
    background-color: #fff;
    margin: 0.2rem;
}

ion-card-header {
    color: #fff;
    background-color: #138D75;
    width: 100%;
    text-align: center;
}

ion-card-title {
    font-size: 1.1em;
}

ion-card-content {
    padding: 0.3rem;
}

ion-datetime {
    font-size: 2.3em;
    color: #565656;
    width: 100%;
    text-align: center;
}

circle-progress {
    text-align: center;
}

.button-left {
    text-align: right;
}

.button-center {
    text-align: center;
}

.button-right {
    text-align: left;
}

ion-grid {
    height: 100%;
    ion-row a {
        height: 68%;
    }
    ion-row b {
        height: 16%;
    }
}